.view-blog, .view-taxonomy-term {
  .views-infinite-scroll-content-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .views-exposed-form {
    select {
      width: auto;
    }
  }
}