{% import _self as menus %}

<nav class="navbar navbar-expand-lg h-100 my-auto p-0">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            {{ menus.menu_links(items, attributes, 0) }}
        </div>
    </div>
</nav>

{% macro menu_links(items, attributes, menu_level) %}
    {% import _self as menus %}
    {% if items %}
        {% if menu_level == 0 %}
            <ul{{ attributes.addClass(['navbar-nav']) }}>
        {% else %}
            <ul>
        {% endif %}
        {% for item in items %}
            {% set classes_link = [
                'nav-link py-1',
                item.is_expanded ? 'drdopdown-toggle',
                item.is_collapsed ? 'dropdown-toggle',
                item.in_active_trail ? 'active',
            ] %}
            <li{{ item.attributes.addClass('nav-item') }}>
                {{ link(item.title, item.url, { 'class': classes_link }) }}
                {% if item.below %}
                    {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}
